 .gradient-bg {
            background: linear-gradient(135deg, #91729c 0%, #432161 100%);
        }
.gradient-text {
    background: linear-gradient(135deg, #91729c 0%, #432161 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
